.card{
    background-color: rgba(240, 248, 255, 0.548);
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card div{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 30%;
}

h3{
    color: red;
}

.pokeImage{
    height: 100%;
    width: 100%;
    margin: 10%;
    border-radius: 5%;
}

li{
  text-align: start;
  font-size: 1.3em;
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  
  align-items: center;
  color: rgb(72, 88, 224);
}






.input{
    border: 1px solid rgb(178, 189, 30);
    height: 30px;
    border-radius: 2%;
    width: 50%;
    margin: auto;
}


@media (max-width: 900px) {
    .card{
        background-color: rgba(240, 248, 255, 0.548);
        margin-top: 3%;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
    }
    .card div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 25%;
    }
    .pokeImage{
        height: 80%;
        width: 80%;
        object-fit: cover;
        margin: 5%;
    }
    .type_ul{
        margin-left: -40px;
    }
    
  }